﻿@model PDS.CodeTest.UI.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row form-group">
        <div class="col-md-12">
            <label class="label">Date</label>
            <input id="@Html.IdFor(x => x.WeekBeginning)" class="form-control" value="@Model.WeekBeginning.ToShortDateString()" />
        </div>
    </div>
    <table id="events" class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="details" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Event details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Description: <span id="description"></span></p>
                    <p>Category: <span id="category"></span></p>
                    <strong class="form-group">Members</strong>
                    <table id="members" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Full title</th>
                                <th>Constituency</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>